<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="style.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!--   <link rel="stylesheet" href="https://songhay.blob.core.windows.net/shared-styles-bootstrap/css/bootstrap.min.css" />
 -->
    <!-- Flaticon Cdn -->

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <style></style>
  <body>
    <header class="">
    <nav class="nav default header-bg">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="index.html" class="logo">
        <img class="logo-01" src="logo.png" />
        <!--  <span class="LOGO-SPAN">Xtenal Technologies</span> -->
      </a>

      <ul class="nav-links mb-0 ml-auto">
        <li class=""><a class="btn-1 active" href="index.html">Home</a></li>
        <li class="nav__item">
          <a class="btn-1" href="products.html">Products</a>
        </li>
       
        <li class="nav__item"><a class="btn-1 " href="Career.html">Career</a></li>
        <li class="nav__item">
          <a class="btn-1 " href="Who-We-Are.html">Who We Are</a> 
        </li>
        <li class="nav__item">  
          <a class="btn-1 " href="Investor-Relations.html"
            >Investor Relations</a
          >
        </li>
        <li class="nav__item">
          <a class="btn-1" href="Contact.html">Contact Us</a>
        </li>
      </ul>


      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>
  </header>
    <div
      style="
        height: 100vh;
        background-image: url(BG.jpg);
        background-size: cover;
        background-position: center;
      "
      class="position-relative w-100"
    >
      <div
        class="position-absolute text-white d-flex flex-column align-items-center justify-content-center"
        style="
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
        "
      >
        <h5>
          <span class="hero-tital d-md-block">Xtenal</span>
          <span class="hero-tital-2 d-md-block">Technologies</span>
        </h5>
        <p class="text-center d-none d-md-block hero-subtital">
          Xtenal Technologies Wants to Serve The World with Our Pioneer and
          Innovative<br />
          Solutions For This Global World, People Can Join With Us Used our
          <br />
          Products and Share its Thoughts With our Platform
        </p>

        <div class="text-center"></div>
      </div>
    </div>





























    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/289974/hoverslippery.js"></script>

    <script>
      /* ////////////////////////////// header start ////////////////////////////// */
      const nav = document.querySelector(".nav"),
        searchIcon = document.querySelector("#searchIcon"),
        navOpenBtn = document.querySelector(".navOpenBtn");

      searchIcon.addEventListener("click", () => {
        nav.classList.toggle("openSearch");
        nav.classList.remove("openNav");
        if (nav.classList.contains("openSearch")) {
          return searchIcon.classList.replace("uil-search", "uil-times");
        }
        searchIcon.classList.replace("uil-times", "uil-search");
      });

      navOpenBtn.addEventListener("click", () => {
        nav.classList.add("openNav");
        nav.classList.remove("openSearch");
        searchIcon.classList.replace("uil-times", "uil-search");
      });

      /* ////////////////////////////// header end ////////////////////////////// */

      /* ////////////////////////////// Dropdown start ////////////////////////////// */
      document.querySelectorAll(".dropdown-toggle").forEach((item) => {
        item.addEventListener("click", (event) => {
          if (event.target.classList.contains("dropdown-toggle")) {
            event.target.classList.toggle("toggle-change");
          } else if (
            event.target.parentElement.classList.contains("dropdown-toggle")
          ) {
            event.target.parentElement.classList.toggle("toggle-change");
          }
        });
      });
      document.querySelectorAll(".dropdown-toggle").forEach((item) => {
        item.addEventListener("click", (event) => {
          if (event.target.classList.contains("dropdown-toggle")) {
            event.target.classList.toggle("toggle-change");
          } else if (
            event.target.parentElement.classList.contains("dropdown-toggle")
          ) {
            event.target.parentElement.classList.toggle("toggle-change");
          }
        });
      });
      /* ////////////////////////////// Dropdown start ////////////////////////////// */






    </script>
  </body>
</html>
