body {
  font-family: "Roboto", serif;
  background: #000;
  /* overflow: hidden; */
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}
.nav.nav.header-bg{
  background: #000000ad;
}
.hero-tital {
  font-family: "Playfair Display", serif;
  font-size: 130px;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0;
  animation: slideRightToLeft 3s ease-out forwards;
  animation-delay: 1s;
}

.hero-tital-2 {
  font-family: "Playfair Display", serif;
  font-size: 130px;
  margin-left: 60px;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0;
  animation: slideBottomToTop 2.5s ease-out forwards;
  animation-delay: 1s;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideBottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-subtital {
  font-size: 30px;
  margin-top: 20px;
  animation: zoomInOut 3s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2.5s;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.infinity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
  background: #fff;
}

.infinity-form {
  position: static;
  padding: 0px 20px;
}

@media (min-width: 768px) {
  .infinity-container {
    /*  background: url('bg.png') center no-repeat;*/
  }

  .infinity-form {
    /* transition: box-shadow .2s ease-in-out;*/
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    width: 35rem;
  }
}


@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }

  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

/* ////////////////////////////// header start ////////////////////////////// */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  background: none;

  z-index: 1;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .logo img {
  width: 116px;

}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  margin-left: auto;
}

.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 14px;
  margin-left: 10px;
}

.nav .search-box {
  position: absolute;
  right: 60px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #282828;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #555;
  border-radius: 6px;
  background-color: #f3f3f3;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.zoom-effect-2 {
  overflow: hidden;
}

.zoom-effect-2 img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.zoom-effect-2:hover img {
  transform: scale(1);
  -webkit-transform: scale(1);
}


.column {
  display: inline-block !important;
  text-align: center;
}

figure {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border: 4px solid #fff;
}

.column img {
  display: block;
  width: 100px;
  height: 100px;
}

/*Zoom In*/
.column#zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.column#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.LOGO-SPAN {
  display: block;
}

.name-mail-col-info {
  padding: 10px;
  background: #f2f2f2;
}

.dropdown-menu-name-info {
  font-weight: 600;
}

.dropdown-menu-email-info {}

.dropdown-nav-menu-info li {
  padding-left: 12px;
  padding-right: 12px;

}

.dropdown-nav-menu-info li a {
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdown-nav-menu-info li a i {
  padding-right: 8px;
}

.dropdown-nav-menu-info li a i:before {
  vertical-align: middle;
}


/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #353842;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}


.Products-col {
  padding-top: 80px;
}

.title-main {
  font-size: 42px;

  color: #4825B5;
  /*border: 1px solid #4825B5;
   background: #EBD2FF;
  padding: 6px 6px 6px 6px;*/
  border-radius: 10px;
  font-weight: 600;
}












/*card product*/

.preview-card {
  position: relative;
  margin: 15px;
  background: #000000ad;
  box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
  padding: 30px 25px 30px;
  border-radius: 25px;
  transition: all 0.3s;
  border: 1px solid #484848;
}

@media screen and (max-width: 992px) {
  .preview-card {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .preview-card {
    min-height: 500px;
    height: auto;
    margin: 120px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card {
    height: auto;
  }
}

.preview-card__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .preview-card__item {
    flex-direction: column;
  }
}

.preview-card__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>* {
  opacity: 1;
  transform: none;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
  transition-delay: 0.3s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
  transition-delay: 0.4s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
  transition-delay: 0.5s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
  transition-delay: 0.6s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
  transition-delay: 0.7s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
  transition-delay: 0.8s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
  transition-delay: 0.9s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
  transition-delay: 1s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
  transition-delay: 1.1s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
  transition-delay: 1.2s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
  transition-delay: 1.3s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
  transition-delay: 1.4s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
  transition-delay: 1.5s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
  transition-delay: 1.6s;
}

.preview-card__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
  transition-delay: 1.7s;
}

.preview-card__img {
  width: 210px;
  flex-shrink: 0;
  height: 210px;
  background-image: linear-gradient(147deg, #000 0%, #000 74%);

  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
  border: 1px solid #484848;
}

.preview-card__img:after {
  content: &quot;
  &quot;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #000 0%, #000 74%);
  border-radius: 20px;
  opacity: 0.4;
}

.preview-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .preview-card__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .preview-card__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card__img {
    height: 270px;
  }
}

.preview-card__content {
  padding-right: 25px;
  margin-left: -40px;

}

@media screen and (max-width: 768px) {
  .preview-card__content {
    margin-top: -100px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .preview-card__content {
    padding: 0;
  }
}

.preview-card__content>* {
  transform: translateY(25px);
  transition: all 0.4s;
}

.preview-card__title {
  font-size: 52px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.preview-card__title:hover {
  color: #fff;
  text-decoration: none;
}

.preview-card__text {
  color: #878787;
  margin-bottom: 40px;
  line-height: 1.3em;
  margin-top: -30px;
  font-size: 20px;
}
}

.preview-card__button {
  display: inline-flex;
  background: #000;
  padding: 10px 26px;
  margin-bottom: 30px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}

.preview-card__button:hover {
  color: #989898;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .preview-card__button {
    width: 100%;
  }
}

.infinity-container-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
  background: none;
}









.btn-1 {
  display: inline-block;
  border: none;
  margin-top: 6px;

  &:after {
    background: linear-gradient(0deg, rgb(37, 0, 150) 0%, rgba(84, 41, 217, 1) 100%);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-60deg);
    transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  }

  &:link {
    position: relative;
    padding: 8px 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;

    &:after {
      content: "";
      position: absolute;
      width: 150%;
      height: 0;
      top: 50%;
      left: 50%;
      z-index: -1;
      transition: all 0.4s ease 0s;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
    }

    &:hover {
      color: #fff;
      text-shadow: none;

      &:after {
        height: 650%;
      }
    }
  }

  &:visited {
    position: relative;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;

    &:after {
      content: "";
      position: absolute;
      width: 150%;
      height: 0;
      top: 50%;
      left: 50%;
      z-index: -1;
      transition: all 0.4s ease 0s;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
    }

    &:hover {
      color: #fff;
      text-shadow: none;

      &:after {
        height: 650%;
      }
    }
  }
}

.btn-1.active {
  position: relative;
  padding: 8px 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  transition: all 1s ease;
  font-weight: bold;
  z-index: 1;
}

.btn-1.active::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 650%;
  /* Same as hover */
  top: 50%;
  left: 50%;
  z-index: -1;
  background: linear-gradient(0deg, rgb(37, 0, 150) 0%, rgba(84, 41, 217, 1) 100%);
  transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  transition: all 0.4s ease 0s;
}




.contact-wrap {
  background: #000000ad;
  border-radius: 0px 40px 40px 0px;
  border: 1px solid rgba(170, 170, 170, 0.1);
}

.contact-wrap-1 {
  background: #000000ad;
  border: 1px solid rgba(170, 170, 170, 0.1);
  border-radius: 40px 0px 0px 40px;
}

.white {
  color: #fff;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}

.form-control {
  height: 36px;
  background: None;
  color: #fff !important;
  font-size: 14pxz border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-tital-info {
  color: #fff;
}

.ftco-section {
  height: 100vh;
}

.h-100vh {
  height: 100vh;
}

.btn-submit-info {
  background: rgba(84, 41, 217, 1);
  color: #fff;
}

.Investor-title-sub {
  font-weight: 600;
  font-size: 16px;
}

.contact-icon {
  color: #fff;
}

.contact-icon ::before {
  vertical-align: super;
}

.form-control:focus{
  background: none !important;
}
.form-control{
    background: none !important;

}

@media screen and (max-width: 768px) {
  .btn-1 {
    &:link {
      position: relative;
      padding: 8px 15px;
      color: #000;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      border-radius: 0;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
    }
  }

  .hero-tital {
    font-size: 60px;
    margin-left: -10px;

  }

  .hero-tital-2 {
    font-size: 60px;
  }

  .hero-subtital {
    font-size: 18px;
    margin-top: 20px;
  }

  .preview-card__content {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {

  .hero-tital {
    font-size: 42px;
    margin-left: 40px;
  }
  .hero-tital-2 {
    font-size: 42px;
  }
 .hero-subtital {
    font-size: 18px;
    margin-top: 30px;
  }
  .btn-1 {
    &:link {
      color: #000;
    }
    &:visited {
      position: relative;
      padding: 14px 15px;
      color: #000;
    }
  }
  a.btn-1.active {
    color: #fff;
  }
      .preview-card__img {
        width: 65%;
    }
.preview-card {
  margin: 120px 30px;
    }
}





















@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Nunito', sans-serif;
}

/*----------multiple-file-upload-----------*/
.file-upload-contain{
    position: relative;
    margin-bottom: 40px;
}
.file-upload-contain .file-input,
.file-upload-contain .file-preview{
    position: initial;
}
.file-upload-contain .file-drop-zone{
    border: 2px dashed #1e80e8;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: none;
    min-height: auto;
}
.file-upload-contain .file-drop-zone.clickable:hover,
.file-upload-contain .file-drop-zone.clickable:focus,
.file-upload-contain .file-highlighted{
    border: 2px dashed #1e80e8 !important;
    background-color: #161616;
}
.upload-area i {
    color: #1e80e8;
    font-size: 50px;
}
.upload-area p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #2580e8;
}
.upload-area p b {
    color: #1e80e8;
}
.upload-area button {
    padding: 8px 16px;
    min-width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #1e80e8;
    border: 2px solid #1e80e8;
    border-radius: 50px;
    transition: 0.3s;
}
.upload-area button:hover{
    background-color: #1e80e8;
    box-shadow: 0px 4px 8px rgb(37 128 232 / 48%);
}
.file-preview{
    padding: 0;
    border: none;
    margin-bottom: 30px;
}
.file-preview .fileinput-remove{
    display: none;
}
.file-drop-zone-title{
    padding: 20px 10px !important;
}
.file-drop-zone .file-preview-thumbnails{
    cursor: pointer;
}
.file-preview-frame{
    cursor: default;
    display: flex;
    align-items: center;
    border: none;
    background-color: #2580e8;
    box-shadow: none;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin: 8px 0px;
}
.file-preview-frame:not(.file-preview-error):hover{
    border: none;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.file-preview-frame .kv-file-content{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-preview-image {
    border-radius: 4px;
}
.file-preview-frame .file-footer-caption{
    padding-top: 0;
}
.file-preview-frame .file-footer-caption{
    text-align: left;
    margin-bottom: 0;
}
.file-detail{
    font-size: 14px;
    height: auto;
    width: 100%;
    line-height: initial;
}
.file-detail .file-caption-name{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.file-detail .file-size{
    color: #f1f8fe;
    font-size: 12px;
}
.kv-zoom-cache {
    display: none;
}
.file-preview-frame .file-thumbnail-footer{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.file-preview-frame .file-drag-handle, 
.file-preview-frame .file-upload-indicator{
    float: none;
}
.file-preview-frame .file-footer-buttons{
    float: none;
    display: flex;
    align-items: center;
}
.file-preview-status.text-center {
    display: none;
}
.kv-file-remove.file-remove {
    border: none;
    background-color: #ef2f2f;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.file-drag-handle.file-drag {
    border: none;
    background-color: #fff;
    color: #2580e8;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.kv-file-upload.file-upload{
    border: none;
    background-color: #48bd22;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.file-thumb-loading{
    background: none !important; 
}
.file-preview-frame.sortable-chosen {
    background-color: #64a5ef;
    border-color: #64a5ef;
    box-shadow: none!important;
}
